

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(116,133,148);
}

h1 {
  font-weight: 500;
  color: white;

}

